langchain
langchain-community
langchain-openai
langchain-core
langchain-openrouter
PyMuPDF
openai
#faiss-cpu
pydantic
python-dotenv
beautifulsoup4
requests
streamlit
rank-bm25
torchvision
deepeval
qdrant-client
langchain-qdrant